<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="http://localhost:8001/css/Style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://localhost:8001/css/head.css"/>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="http://localhost:8001/css/index.css"/>
	<link rel="stylesheet" href="http://localhost:8001/css/head.css"/>
	<link rel="stylesheet" href="http://localhost:8001/css/foot.css"/>
	<title>欢迎光临E-MALL电子商城</title>
	<script type="text/javascript"
		 src="http://localhost:8001/js/jquery-easyui-1.4.1/jquery.min.js">
	</script>
	
</head>
<body>
<div th:fragment="header">
<script type="text/javascript" th:inline="javascript">
	//<![CDATA[ 
		function search(){
			var input= document.getElementById("search");
			var key = input.value;
			window.location.href="/user/selectByName?mvName="+key+"&page=1&rows=12";
		}
		//]]>
	</script>
<!--e_mall首页头部-->
<div id="head">
	<div id="line1">
	<!--<span th:if="${session.user ==null}">
		<div id="content">
			<a href="/toLogin">登陆</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/toRegist">注册</a>
			 <a id="right1" href="/tonotice" >商城公告</a>
		</div>
	</span>
	   -->

		<span th:if="${session.user == null} ">
		<div id="content">
			<a id="right2" href="/user/userInfo" >个人中心   </a>
			|
			<a  href="/user/getCollect?page=1" >   我的收藏</a>
			
		</div>
		 
    </span>
	</div>
	
	<div id="line2">
		<img src="http://localhost:8001/img/head/logo.jpg" alt="logo" id="logo"/>
		<span class="search">
			<input id="search" type="text" name="#" class="search_inp"/>
			<input  type="button" value="搜索" class="search_btn"  onclick="search()" ></input>
		</span>

	</div>


	<div id="line3">
		<div id="content">
			<ul>
				<li><a href="/user/index">全部</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=喜剧">喜剧</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=爱情">爱情</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=恐怖">恐怖</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=动画">动画</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=犯罪">犯罪</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=科幻">科幻</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=悬疑">悬疑</a></li>
				<li><a href="/user/moviePageType?page=1&amp;type=惊悚">惊悚</a></li>
				
			</ul>
		</div>
	</div>
</div>

</div>

	</body>
</html>
