<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>商品详情页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
<link rel="stylesheet" href="/css/itemInfo.css"/>
<link rel="stylesheet" href="/css/index.css"/>
<link rel="stylesheet" href="/css/head.css"/>
<link rel="stylesheet" href="/css/foot.css"/>
<script type="text/javascript"  th:inline="javascript">
//<![CDATA[ 
	$(function(){
		$("#del").click(function(){
			var num = $("#num").val();
			if(num==1){
				return;
			}else{
				$("#num").val(num*1-1);
			}
		});
		$("#add").click(function(){
			var num = $("#num").val();
			$("#num").val(num*1+1);
		});	
		
		$("#addCart").click(function(){
			var itemId = [[${item.id}]];
			var num = $("#num").val();
			window.location.href="/toCart?itemId="+itemId+"&num="+num;
		})
	})
		//]]>
</script>
</head>
<body>
<div th:include="head :: header"></div> 
<div id="itemInfo_body">
	<div id="itemInfo_img">
		<img th:src=" ${'getImage?itemUrl= '''+item.itemUrl+''' '} "  ></img>
	</div>
	<div id="itemInfo_info">
		<div id="itemInfo_title">
		<font size="4"><span th:text="${item.title}"></span></font>
		</div>
		<div id="itemInfo_sellpoint">
		<font size="3"><span th:text="${item.sellPoint}"></span></font>
		</div>
		<div id="itemInfo_price">
		<font size="1" color="#969696">E_Mall价:</font>&nbsp;<font color="red" size="5">￥<span th:text="${item.price}"></span></font>
		</div>
		<div id="itemInfo_toSell">
		<font size="1" color="#969696">促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销:&nbsp;</font><font size="2">&nbsp;满99.00元即赠热销商品，赠完即止，请在购物车点击领取，支持七天无理由退款!</font>
		</div>
		<div id="itemInfo_num">
		<font size="1" color="#969696">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量:&nbsp;&nbsp;&nbsp;</font>
		<img id="del" src="/img/itemInfo/del.jpg" align="middle" width="30px" height="30px"  onclick="del()"></img>&nbsp;&nbsp;
		<input id="num" type="text" value="1" style="width:40px; height:25px;"></input>&nbsp;&nbsp;
		<img id="add"  src="/img/itemInfo/add.jpg" align="middle" width="30px" height="30px" onclick="add()"></img>
		</div>
		<div id="itemInfo_addCart">
		<img id="addCart" src="/img/itemInfo/1.jpg"  width="200"  height="70" ></img>
		</div>
	</div>
</div>
<div th:include="foot :: footer"></div> 
</body>
</html>