<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="referrer" content="no-referrer">
<title>电影详情页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
<link rel="stylesheet" href="http://localhost:8001/css/itemInfo.css"/>
<link rel="stylesheet" href="http://localhost:8001/css/index.css"/>
<link rel="stylesheet" href="http://localhost:8001/css/head.css"/>
<link rel="stylesheet" href="http://localhost:8001/css/foot.css"/>
<script type="text/javascript"  th:inline="javascript">

</script>
</head>
<body>
<div th:include="head :: header"></div> 
<div id="itemInfo_body">
	<div id="itemInfo_img">
		<!--<img th:src=" ${'getImage?itemUrl= '''+item.itemUrl+''' '} "  ></img>-->
		<img th:src=" ${movie.mvImg} "  ></img>
	</div>
	<div id="itemInfo_info">
		<div id="itemInfo_title">
			电影名称：<font size="4"><span th:text="${movie.mvName}"></span></font>
		</div>
		<div id="itemInfo_title">
			导演：<font size="4"><span th:text="${movie.mvDirector}"></span></font>
		</div>
		<div id="itemInfo_title">
			主演：<font size="4" ><span th:text="${movie.mvPerformer}"></span></font>&nbsp;
		</div>
		<div id="itemInfo_title">
			上映时间：<font size="4" ><span th:text="${movie.mvStart}"></span></font>&nbsp;
		</div>
		<div id="itemInfo_title">
			时长：<font size="4" ><span th:text="${movie.mvTime}"></span></font>&nbsp;
		</div>
		<div id="itemInfo_title">
			电影类型：<font size="4" ><span th:text="${movie.mvType}"></span></font>&nbsp;
		</div>
		<div id="itemInfo_title">
			电影简介：<font size="3" ><span th:text="${movie.mvIntroduce}"></span></font>&nbsp;
		</div>
	</div>
</div>
<div th:include="foot :: footer"></div>
</body>
</html>