<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>电影列表</title>
    <link href="/css/prodList.css" rel="stylesheet" type="text/css"/>
    <link href="/css/page.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/head.css"/>
    <link rel="stylesheet" href="/css/foot.css"/>
    <title>环球影视首页</title>
    <script type="text/javascript"
            src="/js/jquery-easyui-1.4.1/jquery.min.js">
    </script>
    <script type="text/javascript" th:inline="javascript">
        //<![CDATA[
        function changePageA(page, type) {
            var pageL = [[${page.pages}]];
            if (page <= 1) {
                window.location.href = "/user/moviePageType?page=1&type=" + type;
            } else {
                window.location.href = "/user/moviePageType?page=" + page + "&type=" + type;
            }
        }

        function changePage(type) {
            var page = document.getElementById("jump").value;
            var reg = /^[1-9][0-9]*$/;
            if (!reg.test(page)) {
                alert("请您输入正确的页面");
                obj.value = [[${page.pageNum}]];
                return;
            }
            window.location.href = "/user/moviePageType?page=" + page + "&type=" + type;
        }

        //]]>

    </script>


</head>


<body>
<div th:include="head :: header"></div>

<div id="content">

    <div id="prod_content">

        <!-- <c:forEach items="${page.list }" var="prod">
            <c:set var="type" value="${prod.itemType}" scope="page"></c:set> -->

        <tr th:each="prod,iterStat:${page.list}">
            <div id="prod_div">
                <a th:href="@{/toMovieInfo(id=${prod.id})}">
                    <img th:src=" ${prod.mvImg} "></img>
                </a>
                <div id="prod_name_div">
                    《
                    <td th:text="${prod.mvName}"></td>
                    》
                </div>
                <br>
                <div id="prod_name_div">
                    上映时间：
                    <td th:text="${prod.mvStart}"></td>
                </div>
            </div>
        </tr>
    </div>
    <div style="clear: both"></div>
    <div id="fy_div">
        共【<span style=" color:red"><span th:text="${page.total}"></span></span>】条记录 共【<span style="color:red"><span
            th:text="${page.pages}"></span></span>】页
        <a href="javascript:void(0)" th:onclick="changePageA(1,[[${type}]])">首页</a>
        <a href="javascript:void(0)" th:onclick="changePageA([[${page.prePage}]],[[${type}]])}">上一页</a>
        <a href="#" th:onclick="changePageA([[${page.nextPage}]],[[${type}]])">下一页</a>
        <a href="javascript:void(0)" th:onclick="changePageA([[${page.pages}]],[[${type}]])">尾页</a>
        跳转到<input id="jump" type="text" th:value="${page.pageNum}" th:onblur="changePageA([[${type}]]"/>页
    </div>
</div>

<div th:include="foot :: footer"></div>
</body>
</html>