<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>支付页面</title>
<link  rel="stylesheet" href="/css/notice.css" />
 <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
<link rel="stylesheet" href="/css/head.css"/>
<link rel="stylesheet" href="/css/foot.css"/>
</head>
<body>
<div th:include="head :: header"></div> 
<div id="notice">
	<div id="context">
		<table>
		<h2>支付成功!</h2>
		</table>
	</div>
</div>
<div th:include="foot :: footer"></div> 
</body>
</html>