@charset "utf-8";
{
	border: 1px solid #999;
}
body{
	margin:0px;
	font-family:"微软雅黑";
}



/*第一行盒子，设置宽度自适应*/
#head #line1{
	width:100%;
	height:35px;
	border-bottom:1px solid #EDEDED; 
	font-size:14px;
	color:#666666;
}
/*设置第一行盒子中的字*/
#head #line1 #content{
	width:1200px;
	margin:0px auto;
	line-height:35px;
	
}
#head #line1 #content a{
	font-family:"微软雅黑";
	color: #ff0000;
	text-decoration : none
}

/*
 设置第二行
*/
#head #line2{
	margin: 0 auto;
	/*border:1px solid red;*/
	height:90px;
	width:1200px;
	/*line-height:100px;*/
	padding-top:10px;
}

#head #line2 #logo{
	margin-left:80px;
	margin-top:15px;
	vertical-align: middle;
}
#head #line2 .search{
	vertical-align: middle;
}
#head #line2 .search_inp{
	width: 370px;
	height:32px;
	border: 2px solid #0080ff;
	margin-left: 120px;
	vertical-align: middle;
}
#head #line2 .search_btn{
	color: #ffffff;
	font-size:14px;
	width: 70px;
	height:36px;
	background-color:#0080ff;
	vertical-align: middle;
}

#head #line2 .my_order_cart{
	vertical-align: middle;
	display: inline-block;
	height:34px;
	border: 1px solid #e5e5e5;
	line-height: 36px;
}

#head #line2 .my_order_cart a{
	text-decoration: none;
	color:#555555;
	font-size:14px;
	padding: 0 8px;
}



/*第三行*/
#head #line3{
	width:100%;
	height:38px;
	background-color:#0080ff;
}
#head #line3 #content{
	width:1200px;
	margin:0px auto;
}
#head #line3 #content ul{
	padding:0px;
	margin:0px;
}
#head #line3 #content li{
	list-style-type:none;
	width:133px;
	float:left;
}
#head #line3 #content li a{
	display: block;
	line-height:38px;
	color:white;
	text-decoration: none;
	text-align: center;
}
#head #line3 #content li a:hover{
	background-color: pink;
}
#right1{
	width:1px;
	height:1px;
	margin-left:1060px;
}

#right2{
	width:1px;
	height:1px;
	margin-left:1060px;
}