<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<mata name="viewport" content="width=device-width,initial-scale=1.0"/>
		<link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
		<link rel="stylesheet" href="../../static/css/index.css" th:href="@{/static/css/index.css}" />
		<title>管理后台</title>
	</head>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[
		function jumpMovie(id) {
			window.location.href = "/system/movieInfo?id=" + id;
		}

		function deleteMovie(id) {
			window.location.href = "/system/movieDelete?id=" + id;
		}


		function updateFram(){
			var flag = true;
			//非空校验
			flag = checkNull("userName", "用户名不能为空") && flag;
			flag = checkNull("passWord", "密码不能为空") && flag;
			flag = checkNull("passWord2", "确认密码不能为空") && flag;
			flag = checkNull("name", "姓名不能为空") && flag;
			flag = checkNull("phone", "手机号不能为空") && flag;
			flag = checkNull("email", "邮箱不能为空") && flag;
			flag = checkNull("address", "收货地址不能为空") && flag;

			//两次密码是否一致
			flag = checkpassWord("passWord", "两次密码不一致") && flag;

			//邮箱格式
			flag = checkEmail("email", "邮箱格式不正确") && flag;

			return flag;
		}
		//校验邮箱格式
		function checkEmail(name, msg){
			var email = document.getElementsByName(name)[0].value;
			setMsg(name, "");
			checkNull("email", "邮箱不能为空");
			var reg = /^\w+@\w+(\.\w+)+$/;
			if(email != "" && !reg.test(email)){
				setMsg(name, msg);
				return false;
			}
			return true;
		}

		//校验两次密码是否一致
		function checkpassWord(name, msg){
			var psw1 = document.getElementsByName(name)[0].value;
			var psw2 = document.getElementsByName(name+"2")[0].value;
			setMsg(name+"2", "");
			checkNull("passWord2", "确认密码不能为空");
			if(psw1 != "" && psw2 != "" && psw1 != psw2){
				setMsg(name+"2", msg);
				return false;
			}
			return true;
		}

		//校验输入框是否为空
		function checkNull(name, msg){
			var obj = document.getElementsByName(name)[0];
			var value = obj.value;
			setMsg(name, "");
			if(value == ""){
				setMsg(name, msg);
				return false;
			}
			return true;
		}

		//提示消息
		function setMsg(name, msg){
			//alert(msg);
			document.getElementById(name+"_msg").innerHTML = "<font style='color: red;font-size: 14px;'>"+ msg +"</font>";
		}

		$(function(){
			var flag= "${flag}";
			if(flag=="true"){
				alert("恭喜你，注册成功！");
				window.location.href="/toLogin";
			}


			$("#userName").blur(function(){
				var userName = $("#userName").val();
				if(!checkNull("userName", "用户名不能为空")){
					return;
				}
				$("#checkuserName").load("/checkUserName",{"userName":userName});
			});
		})

		//]]>

	</script>
	<body >
		<!-- 导航部分 -->
		<nav class="ui inverted attached segment m-paddes-tb-mini m-shadow-small">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<h2 class="ui teal header item">管理后台</h2>
					<a href="/system/index" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="/system/user" class="active m-item item m-mobile-hide"><i class="idea icon"></i>用户管理</a>
					<a href="/system/movie" class="m-item item m-mobile-hide"><i class="tags icon"></i>电影管理</a>
				
					<div class="right m-itenm  m-mobile-hide menu">
						<div class="ui dropdown item">
							<div class="text">
								<img class="ui avatar image" src="http://unsplash.it/100/100?image=1005" />
								<span>刘小仙儿</span>
							</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								<a href="#" class="item">注销</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="ui menu toggl black icon button m-right-top m-mobile-show">
			<i class="sidebar icon"></i>	
			</a>
		</nav>
		<!-- 二级导航 -->
		<div class="ui menu attached pointing">
			<div class="ui container">
				<div class="right menu">
					<a href="#" class="item">发布</a>
					<a href="#" class="teal active item">列表</a>
				</div>
			</div>
		</div>
		<!-- 中间部分 -->
		<div class="m-container m-paddes-tb-big">
			<div class="ui container">
			<div class="ui secondary segment form" >
				<input type="hidden" name="page">
				<div class="inline fields">
					<div class="field">
						<input type="text" name="title" placeholder="标题" />
					</div>
					<div class="field">
						<button type="button" id="search-btn" class="ui mini teal button"><i class="search icon"></i>搜索</button>
					</div>
				</div>
			</div>
				<div id="table-container">
					<form action="/system/updateMovie" method="POST" onsubmit="return updateFram()">
						<table>
							<div id="s">
							</div>
							<tr>
								<td class="tds">电影名称：</td>
								<td><input id="mvName" type="text" name="mvName" th:value="${movie.mvName}"  />
								</td>
							</tr>
							<tr>
								<td class="tds">图片地址：</td>
								<td><input type="text" name="mvImg" th:value="${movie.mvImg}" />
								</td>
							</tr>
							<tr>
								<td class="tds">导演：</td>
								<td><input type="text" name="mvDirector" th:value="${movie.mvDirector}" />
								</td>
							</tr>
							<tr>
								<td class="tds" >主演：</td>
								<td><input type="text" name="mvPerformer"  th:value="${movie.mvPerformer}"/>
								</td>
							</tr>
							<tr>
								<td class="tds" >类型：</td>
								<td><input type="text" name="mvType"  th:value="${movie.mvType}"/>
								</td>
							</tr>

							<tr>
								<td class="tds" >上映时间：</td>
								<td><input type="text" name="mvStart"  th:value="${movie.mvStart}"/>
								</td>
							</tr>

							<tr>
								<td class="tds" >片长：</td>
								<td><input type="text" name="mvTime"  th:value="${movie.mvTime}"/>
								</td>
							</tr>

							<tr>
								<td class="tds" >简介：</td>
								<td><input type="text" name="mvIntroduce"  th:value="${movie.mvIntroduce}"/>
								</td>
							</tr>

							<tr>
								<td colspan="2">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="submit" th:value="修改电影"/>
								</td>
							</tr>
						</table>
						<input type="text" name="id" th:value="${movie.id}" style="visibility:hidden"/>
					</form>
				</div>

			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<!-- 底部 -->
		<footer class="ui inverted vertical segment m-paddes-tb-massive">
			<div class="ui center aligned container">
				<div class="ui inverted divided stackable mobile reversed grid">
					<div class="three wide column">
						<img src="../../static/img/wechar.png" th:src="@{/static/img/wechar.png}" class="ui runded image  centered" alt="" style="width: 150px;"/>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">我的博客设计</a>
							<a href="#" class="item">spring框架介绍</a>
							<a href="#" class="item">springboot框架学习总结</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header  m-text-thin m-text-spaced">联系我</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">email:13042235307@163.com</a>
							<a href="#" class="item"></a>
							<a href="#" class="item">QQ：1163055562</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header  m-text-thin m-text-spaced">Lirenmi</h4>
						<p class="m-text-lined m-text-thin m-opacity-mini">这是我的个人博客，会分享关于编程，写作，思考相关的任何内容，希望可以给别人带来帮助</p>
					</div>
				</div>
				<div class="ui inverted section divider">
					<p class="m-text-thin m-text-lined m-paddes-tb-mini m-opacity-tiny">Copyright-2020-2021 lirenmi Disigned by phoebe </p>
				</div>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
		<script>
			$('.menu.toggl').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			$('.weichar').popup({
				popup:$('.weichar-qr'),
				on:'hover',
				position: 'bottom center'
			});
			$('.qq').popup();
			$('.github').popup();
			$('.ui.dropdown').dropdown({
				on:'hover',
			});
			
			function page(obj) {
			$("[name='page']").val($(obj).data("page"));
				loaddata();
			}
			$("#search-btn").click(function () {
				loaddata();
			});
			function loaddata() {
              $("#table-container").load("/admin/blogs/search",{
              	title : $("[name='title']").val(),
				  typeId : $("[name='typeId']").val(),
				  recommend : $("[name='recommand']").prop("checked"),
				  page : $("[name='page']").val()
			  });
			}
		</script>
	</body>
</html>
